@charset "utf-8";
/* CSS Document */

table {
  margin: 0 auto;
  margin-top: 150px;
  height: 541px;
  border: 10px solid white;
}
td {
  border: 9px solid #14160e;
  color: rgba( 0, 0, 0, 0);
  border: 9px solid black;
}
