h1,
form {
	text-align: center;
}
form {
	width: 65%;
}
h3 {
	text-align: center;
}
.checkbox {
    padding-left: 28px;
}
.answers input {
	margin-left: 55px;
	margin-right: 7px;
}
form button {
	margin-left: 50%;
	margin-top: 20px;
}
label {
	margin-left: 10px;
  font-size: 18px;
  font-weight: normal;
}
