@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Helvetica Neue Cyrblack';
    src: url('../fonts/helveticaneuecyr-black-webfont.eot');
    src: url('../fonts/helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-black-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-black-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: black;
}
@font-face {
    font-family: 'Helvetica Neue Cyrblack';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}
body {
  background: url('../img/background.png') 100% 100% no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue Cyrblack";
}
.clearfix:after {
  content: '';
  clear: both;
  position: relative;
}
.nav {
  margin: 0 auto;
  background: rgb(7, 78, 140);
  background: -moz-linear-gradient(30deg, rgb(7, 78, 140) 30%, rgb(7, 79, 141) 70%);
  background: -webkit-linear-gradient(30deg, rgb(7, 78, 140) 30%, rgb(7, 79, 141) 70%);
  background: -o-linear-gradient(30deg, rgb(7, 78, 140) 30%, rgb(7, 79, 141) 70%);
  background: -ms-linear-gradient(30deg, rgb(7, 78, 140) 30%, rgb(7, 79, 141) 70%);
  background: linear-gradient(120deg, rgb(7, 78, 140) 30%, rgb(7, 79, 141) 70%);
  height: 35px;
  width: 100%;
}
.menu ul {
  margin: 0;
}
.menu li  {
  float: right;
}
.menu a {
  color: #60b5ed;
  padding: 10px 18px;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
  border: 1px solid transparent;
}
.menu a:hover {
  font-size: 14px;
  background-color: #4eabda;
  color: white;
}
.container {
  margin-right: 20px;
}
.container ul li a {
  float: right;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-family: Tahoma,sans-serif;
  text-decoration: none;
}
.grad  {
  width: 195px;
  height: 26px;
  float: right;
  padding-top: 8px;
  padding-right: 3px;
  margin-left: 16px;
  font-family: Tahoma, sans-serif;
  border: 1px solid rgb(78, 172, 218);
  background: rgb(76, 168, 217);
  background: -moz-linear-gradient(91deg, rgb(76, 168, 217) 25%, rgb(47, 123, 197) 70%);
  background: -webkit-linear-gradient(91deg, rgb(76, 168, 217) 25%, rgb(47, 123, 197) 70%);
  background: -o-linear-gradient(91deg, rgb(76, 168, 217) 25%, rgb(47, 123, 197) 70%);
  background: -ms-linear-gradient(91deg, rgb(76, 168, 217) 25%, rgb(47, 123, 197) 70%);
  background: linear-gradient(181deg, rgb(76, 168, 217) 25%, rgb(47, 123, 197) 70%);
}
.ola {
  display: inline-block;
  color: #fff;
  padding-left: 5px;
}
.ou {
  display: inline-block;
  color: #fff;
}
.entras {
  color: #fff;
  text-decoration: underline;
}
.cadastre {
  color: #fff;
  text-decoration: underline;
}
.flag:after {
  content: url('../img/flag.png');
  float: right;
  border-left: 1px solid #4eabda;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
  padding-left: 18px;
}
.wrapper {
  margin: 0;
  padding-top: 212px;
  height: 1000px;
}
.form {
  margin: auto;
  text-align: center;
  width: 550px;
  background-color: rgba(16, 16, 16, 0.75);
  padding-bottom: 18px;
}
.header {
  padding: 20px;
  border-bottom: 2px solid #c4c6b8;
  font-size: 24px;
  color: white;
}
.button {
  margin-top: 35px;
  margin-bottom: 20px;
}
.bold {
  font-style: normal;
}
.button {
  width: 280px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 36px;
  margin-left: 135px;
  background: rgb(59, 87, 152);
  background: -webkit-linear-gradient(90deg, rgb(59, 87, 152) 29%, rgb(46, 69, 121) 70%);
  background: -o-linear-gradient(90deg, rgb(59, 87, 152) 29%, rgb(46, 69, 121) 70%);
  background: -ms-linear-gradient(90deg, rgb(59, 87, 152) 29%, rgb(46, 69, 121) 70%);
  background: linear-gradient(180deg, rgb(59, 87, 152) 29%, rgb(46, 69, 121) 70%);
  border-color: #7586b1;
}
.button a {
  display: block;
  text-decoration: none;
  height: 35px;
  color: #fff;
}
.fb-text  {
  display: inline-block;
  font-weight: bold;
  padding-top: 10px;
}
.icon {
  float: left;
  height: 30px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 10px;
  border-right: 2px solid #2e4579;
}
.arrow {
  float: right;
  padding-right: 15px;
  margin-top: 10px;
}
.line {
  color: #999999;
  font-size: 14px;
}
.line:after {
  display: inline-block;
  margin-bottom: 4px;
  content: " ";
  width: 122px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #000000;
}
.line:before {
  display: inline-block;
  margin-bottom: 4px;
  content: " ";
  width: 122px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #000000;
}
.content {
  margin-top: 25px;
}
.content input {
  padding: 5px 10px;
  width: 255px;
  height: 25px;
  margin: 10px;
  background: #0f0e0e;
  color: #cccccc;
  font-size: 14px;
  border-bottom: 1px solid #484848;
  border-left: #000;
  border-right: #000;
  border-top: #000;
}
.content input:focus {
  background: #1b5288;
  box-shadow: 2px -2px 20px #1b5288, -2px 2px 20px #1b5288;
}
.checkbox {
  margin: 10px;
  font-size: 14px;
  color: #cccccc;
}
.submit {
  margin: 25px;
}
.submit input {
  padding: 10px;
  border-radius: 3px;
  border-color: #6bb8e7;
  background: linear-gradient(to bottom, #6bb8e7, #3686ca);
  font-size: 14px;
  color: #cccccc;
  font-weight: bold;
}
.form p {
  font-size: 11px;
  color: #cccccc;
  padding-bottom: 3px;
}
